* {
    margin: 0;
    padding: 0;
}

:root {
    --page: 0vh;
}

h1 {
    background: royalblue;
}

.hide {
    display: none;
}

input {
    font-family: inherit;
    font-size: inherit;
}

button {
    font-family: inherit;
    font-size: inherit;
}

.settings-page {
    /* background: linear-gradient(30deg, lightgreen, white, lightblue); */
    background: linear-gradient(30deg, lightseagreen 1%, white, lightblue);

    background-size: cover;
    background-blend-mode: multiply;
}

form {
    background: rgba(255, 255, 255, 0.7);
    padding: 2rem;
    width: 70vw;
    max-width: 350px;
    border-radius: 50px;
    border: 2px solid lightgrey;
    box-shadow: 2px 2px 20px 0px grey;
}

.formgroup {
    padding: 1rem;
}

input[type="radio"]+label {
    cursor: pointer;
    position: relative;
    margin: 0 20px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label::before {
    border: 3px solid dimgray;
    content: "";
    width: 50px;
    position: absolute;
    height: 50px;
    border-radius: 100%;
    left: -8px;
    bottom: -8px;

}

/* input[type="text"] {
    width: 100%;

    box-sizing: border-box;
} */
input[type="number"],
input[type="text"],
button[type="submit"] {
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 5px;
}

button[type="submit"] {
    cursor: pointer;

}

.small-label {
    font-size: 1.5rem;
}

.main-page {
    background: linear-gradient(30deg, lightseagreen 1%, white, lightblue);
}

#hidden-btn {
    position: absolute;
    left: -100px;
}

body {
    color: #333;
    font-family: 'Arimo', sans-serif;
    font-size: 36px;
    overflow: hidden;
    transform: translateY(var(--page));
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

h2 {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
}

.page {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#start-btn {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
    padding: 2rem;
    width: 90vw;
    max-width: 350px;
    border-radius: 50px;
    border: 2px solid lightgrey;
    box-shadow: 2px 2px 20px 0px grey;
}

#question {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: lightseagreen; */
    height: 150px;
    width: 90vw;
    max-width: 350px;
}


.answer {
    width: calc(100% / 3);
    height: 75%;
    background: transparent;
    cursor: pointer;
    margin: 5px;
    border-radius: 10px;
}

#answers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}


.wrapper {
    width: 90vw;
    max-width: 300px;
    background: rgba(255, 255, 255, 0.7);
    padding: 2rem;
    width: 90vw;
    max-width: 350px;
    border-radius: 50px;
    border: 2px solid lightgrey;
    box-shadow: 2px 2px 20px 0px grey;
}